*{
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.titulo{
    font-size: 250%;
    background-color:rgb(17, 65, 107);
    color: white;
}
body{
    text-align: center;
    background-color:rgb(17, 65, 107);
    color: white;
}
.texto{
    font-size: 190%;
    background-color:rgb(17, 65, 107);
    color: white;
}
input{
    display: block;
    width: 95%;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    padding: 15px;
    border-bottom: 1px solid #000000;
    margin: 15px;
    font-size: 105%;
}
.botao{
    border-color: rgb(142, 215, 255);
    font-size: large;
    height: 50px;
    width: 10%;
    margin: 20px;
    background-color: rgb(142, 197, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    right: 50%;
}
::placeholder{
    color: black;
}